button{
    width: 150px;
    background-color: gold;
    padding: 10px;
    text-align: center;
    margin: 0px 40%;
}
div{
    margin: 0px 10%;
}
.hello{
    text-align: center;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    color: dodgerblue;
}